@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Optima;
}

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main {
    width: 100%;
    /* FIXED: Removed background-image reference to 11.mp4 (video is now loaded via HTML) */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 20px 0 50px 0;
}

.navbar {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.icon {
    width: 250px;
}

.logo {
    color: #ff7200;
    font-size: 35px;
    padding-top: 50px;
}

.menu {
    flex: 1;
    margin-left: 10px;
    padding-top: 15px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 90px;
    background: transparent;
    backdrop-filter: blur(13px);
    border: 2px solid #ff7200;
    box-shadow: 0 0 10px #0000001a;
    border-radius: 10px;
    padding: 10px 80px;
    max-width: 700px;       
    margin: 0 auto;  
}


.menu ul li a {
    text-decoration: none;
    color: #ff7200;
    transition: 0.3s ease-in-out;
    font-size: 17px;
}

.menu ul li a:hover {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.menu ul li a.active {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.content {
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    padding: 30px 20px;
}

.content h1 {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1;
    padding-top: 35px;
}

.content span {
    color: #ff7200;
}

.content .par {
    font-size: 18px;
    padding: 25px 0;
    letter-spacing: 1px;
    line-height: 35px;
    max-width: 650px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: Optima;
}

.content .cn:hover {
    background-color: #fff;
}

.content .cn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form {
    width: 400px;
    background: transparent;
    position: absolute;
    border: 2px solid #ff7200;
    backdrop-filter: blur(13px);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px #0000001a;
    top: 80px;
    right: 20px;
    padding: 30px 35px;
    font-family: Optima;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    font-family: Optima;
    margin-bottom: 40px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin: 10px 0;
    font-family: Optima;
}

.input-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 20px;
    padding-right: 50px;
    color: #fff;
    border: 2px solid #ff7200;
    border-radius: 5px;
    font-family: Optima !important;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-family: Optima;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
}

.remember{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.remember label{
    cursor: pointer;
}

.remember label input{
    margin-right: 5px;
}

.remember a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}   

.remember a:hover{
    color: #ff7200;
}

.btnn{
    display: inline-block;
    background: #ff7200;
    color: #000;
    width: 100%;
    border-radius: 30px;
    height: 45px;
    border: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 0 5px #ff7200;
    margin-top: 30px;
    font-family: Optima;
}

.btnn:hover{
    background: #fff;
    color: #ff7200;
}

.signup-btn {
    background: transparent;
    border: 2px solid #ff7200;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow: 0 0 5px rgba(255, 114, 0, 0.3);
    transition: 0.3s ease;
}

.signup-btn:hover {
    background: #ff7200;
    color: #000;
    transition: 0.3s ease;
}

.button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s ease;
}

.button a:hover{
    color: #ff7200;
}

.button a i{
    font-size: 20px;
    margin-right: 8px;
    transition: 0.3s ease;
}

input[type="checkbox"]{
    accent-color: #ff7200;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;   
}

.hamburger {
    display: none;
    font-size: 40px;
    cursor: pointer;
    color: #ff7200;
    margin-left: 20px;
    padding-top: 15px;
    transition: 0.3s ease;
}

.hamburger:hover {
    color: #fff;
    font-size: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -270px;
    width: 250px;
    height: 100vh;
    background: transparent;
    backdrop-filter: blur(13px);
    border-left: 2px solid #ff7200;
    box-shadow: 0 0 10px #0000001a;
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    gap: 30px;
    transition: 0.5s ease;
    z-index: 9999;
}

.sidebar a {
    text-decoration: none;
    color: #ff7200;
    transition: 0.3s ease-in-out;
    font-size: 20px;
}

.sidebar a:hover {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.sidebar.active {
    right: 0;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.sidebar a.active {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.sidebar a.active:hover {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ff7200;
    cursor: pointer;
    font-size: 40px;
    transition: 0.3s ease;
}

.close-btn:hover {
    color: #fff;
    font-size: 50px;
}

@media screen and (max-width: 950px) {
    .menu ul {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    .navbar {
        width: auto;
    }
    .content {
        width: 100%;
    }
    
    .menu ul {
        gap: 30px;
    }
    
    .form {
        position: static;
        margin: 20px auto;
    }
}

.about-section {
    max-width: 1200px;
    margin: 100px auto 0 auto;
    padding: 40px 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 2px solid #ff7200;
    border-radius: 10px;
    font-family: Optima;
    box-shadow: 0 0 10px #0000001a;
    text-align: center;
}

.about-section h2 {
    font-size: 45px;
    color: #ff7200;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 20px;
    max-width: 1100px;
    line-height: 30px;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
}

#pageTransition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.8s ease;
}

#pageTransition::before,
#pageTransition::after {
    content: '';
    position: fixed;
    left: 0;
    width: 100%;
    height: 0;
    background: black;
    z-index: 10000;
    transition: height 0.8s ease;
}

#pageTransition.show::before,
#pageTransition.show::after {
    height: 50vh; 
}

#pageTransition.show {
    opacity: 1;
    pointer-events: auto;
}