@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Optima;
}

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(11.mp4);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 20px;
}

.navbar {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.icon {
    width: 250px;
}

.logo {
    color: #ff7200;
    font-size: 35px;
    padding-top: 50px;
}

.menu {
    flex: 1;
    margin-left: 50px;
    padding-top: 15px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-size: 17px;
}

.menu ul li a:hover {
    color: #ff7200;
    font-size: 19px;
    font-weight: bold;
}

.menu ul li a.active {
    color: #ff7200;
    font-size: 19px;
    font-weight: bold;
}

.search {
    display: flex;
    padding-top: 10px;
}

.srch {
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    border-right: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    font-family: Optima;
}

.srch:focus {
    outline: none;
}

.btn {
    width: 80px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: #000;
    font-size: 18px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: Optima;
}

.btn:hover {
    background: #fff;
    color: #ff7200;
}

.btn:focus {
    outline: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.content {
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    padding: 30px 20px;
}

.content h1 {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1;
}

.content span {
    color: #ff7200;
}

.content .par {
    font-size: 18px;
    padding: 25px 0;
    letter-spacing: 1px;
    line-height: 35px;
    max-width: 650px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: Optima;
}

.content .cn:hover {
    background-color: #fff;
}

.content .cn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form {
    width: 400px;
    background: transparent;
    position: absolute;
    border: 2px solid #ff7200;
    backdrop-filter: blur(13px);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px #0000001a;
    top: 80px;
    right: 20px;
    padding: 30px 35px;
    font-family: Optima;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    font-family: Optima;
    margin-bottom: 40px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin: 10px 0;
    font-family: Optima;
}

.input-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 20px;
    padding-right: 50px;
    color: #fff;
    border: 2px solid #ff7200;
    border-radius: 5px;
    font-family: Optima !important;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-family: Optima;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
}

.remember{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.remember label{
    cursor: pointer;
}

.remember label input{
    margin-right: 5px;
}

.remember a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}   

.remember a:hover{
    color: #ff7200;
}

.btnn{
    display: inline-block;
    background: #ff7200;
    color: #000;
    width: 100%;
    border-radius: 30px;
    height: 45px;
    border: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 0 5px #ff7200;
    margin-top: 30px;
    font-family: Optima;
}

.btnn:hover{
    background: #fff;
    color: #ff7200;
}

.signup-btn {
    background: transparent;
    border: 2px solid #ff7200;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow: 0 0 5px rgba(255, 114, 0, 0.3);
}

.signup-btn:hover {
    background: #ff7200;
    color: #000;
}

.button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s ease;
}

.button a:hover{
    color: #ff7200;
}

.button a i{
    font-size: 20px;
    margin-right: 8px;
    transition: 0.3s ease;
}

input[type="checkbox"]{
    accent-color: #ff7200;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;   
}

@media screen and (max-width: 1200px) {
    .navbar {
        width: auto;
    }
    .content {
        width: 100%;
    }
    
    .menu ul {
        gap: 30px;
    }
    
    .form {
        position: static;
        margin: 20px auto;
    }
}

.fade-out {
    position: relative;
    animation: fadeOutBlack 0.3s forwards ease-in-out;
}

@keyframes fadeOutBlack {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.05);
    }
}

.fade-out::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    animation: overlayFade 0.3s forwards;
    z-index: 9999;
}

@keyframes overlayFade {
    from { opacity: 0; }
    to { opacity: 1; }
}