* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Optima;
}

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(11.mp4);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 20px;
}

.navbar {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.icon {
    width: 200px;
}

.logo {
    color: #ff7200;
    font-size: 35px;
    padding-left: 10px;
}

.menu {
    flex: 1;
    margin-left: 20px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-size: 17px;
}

.menu ul li a:hover {
    color: #ff7200;
    font-size: 19px;
    font-weight: bold;
}

.menu ul li a.active {
    color: #ff7200;
    font-size: 19px;
    font-weight: bold;
}

.content {
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.content h1 {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1;
    color: #ff7200;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.form1{
    width: 570px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.form1 h2{
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.form1 .f1overview h3{
    width: 100%;
    text-align: left;
    color: #ff7200;
    font-size: 25px;
}

.form1 h4{
    margin-bottom: 20px;
}

.form1 .f1core-career-container{
    display: flex;
    gap: 20px;
}

.form1 .f1core{
    flex: 1;
}

.form1 .f1carrer{
    flex: 1;
}

.form1 .f1core h3
.form1 .f1carrer h3{
    width: 100%;
    text-align: left;
    color: #ff7200;
    font-size: 25px;
}

.form1 h4 ul{
    padding-left: 18px;
    font-size: 13.5px;
    text-align: left;
}

.form1 .f1carrer h3
.form1 .f1carcontainer h4 ul{
    position: static;
    left: auto;
    top: auto;
    width: auto;
}

@media screen and (max-width: 1200px) {
    .navbar {
        width: auto;
    }

    .content {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .menu ul {
        gap: 30px;
    }

    .form1{
        width: calc(100% - 40px);
        max-width: 570px;
        margin: 0 0 20px 0;
    }
    
    .form1 .f1core-career-container{
        flex-direction: column;
    }
}

.fade-out {
    position: relative;
    animation: fadeOutBlack 0.3s forwards ease-in-out;
}

@keyframes fadeOutBlack {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.05);
    }
}

.fade-out::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    animation: overlayFade 0.3s forwards;
    z-index: 9999;
}

@keyframes overlayFade {
    from { opacity: 0; }
    to { opacity: 1; }
}