*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Optima;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.headings{
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background: transparent;
    backdrop-filter: blur(1px);
    border-bottom: 1px solid #ff7200;
    box-shadow: 0 10px 50px #ff7200;
    border-radius: 10px;
}

.content{
    color: white;
    margin-right: 20px;
    padding: 40px 20px;
}

.content h1{
    margin-right: 20px;
    color: #ff7200;
}

.form{
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    background: transparent;
    backdrop-filter: blur(1px);
    border: 1px solid #ff7200;
    box-shadow: 0 10px 50px #ff7200;
    border-radius: 10px;
    padding: 20px;
}

.form h1{
    color: #ff7200;
    text-align: center;
    padding: 5px;
}

.form h3{
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.h3-row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
    padding-bottom: 15px;
}

.h3-row2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
    padding-bottom: 15px;

}

.dropdown {
    position: relative;
    width: 100%;
    max-width: 3000px;
}

.dropdown-btn {
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    backdrop-filter: blur(13px);
    border: 1px solid #ff7200;
    border-radius: 10px;
    color: #fff;
    font-family: Optima;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.dropdown-btn.error {
    border: 2px solid #ff3b3b !important;
    background: #ff3b3b33;
}


.dropdown-btn:hover,
.dropdown.active .dropdown-btn {
    box-shadow: 0 5px 25px #fff;
    background: rgba(255, 114, 0, 0.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 5px;
    background: #b35101cd;
    backdrop-filter: blur(13px);
    border: 1px solid #ff7200;
    border-radius: 10px;
    box-shadow: 0 10px 50px #ff7200;
    z-index: 1;
    overflow: hidden;
}

.dropdown.active .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    font-family: Optima;
    transition: all 0.3s ease;
}

.dropdown-content a:hover {
    background: #db6302b1;
    color: #fff;
}

.submit-btn {
    width: 50%;
    padding: 12px 20px;
    background: #ff730092;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: Optima;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 5px 25px #ffffff6d;
    border: 1px solid #fefefe;
    margin: 20px auto;
    display: block; 
}

.submit-btn:hover {
    background: #ff7200;
    box-shadow: 0 5px 25px #ff7200;
}

.result-panel {
    
    margin-top: 20px;
    padding: 20px;
    background: #ffffff1a;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 5px 25px #ffffff4d;
    color: #fff;
    font-family: Optima;
    white-space: pre-line;
}
